.img {
    transition: all ease 0.3;
    display: block;
    width: 100%;
}

.product-card {
    width: calc(25% - 15px);
}

.name {
    font-weight: 600;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.thumbnail{
    background-image: linear-gradient(to right , #2d97de4d, #2d97de4d );
}