/* @use postcss-preset-env; */
  

.footer {
    width: 100%;
    background-color: #8490FF;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    gap:100px;
    justify-content: center;
    text-align: center;
}

.col {
    max-width: 200px;
}

.title {
    margin-bottom: 20px;
    font-size: 20px;
}

div .text1 {
            color: rgba(34, 30, 30, 0.73);
            margin-bottom: 5px;
            cursor: pointer;
            display: block;
            
}
.title {
    font-weight: 700;
    color: rgba(12, 12, 248, 0.796);
}

.c-item {
    display: flex;
    
}

svg {
    flex-shrink: 0;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 4px;
    color: rgba(0, 0, 0, 0.5);
}



.bottom-bar {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.bottom-bar-content {

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;

}
.txt {
    font-weight: 800;
    color: rgba(0, 0, 0, 0.402);
    padding: 10px 0px ;
    display: flex;  
    flex: auto;
    
}