.quantity-buttons {
    border: 2px solid rgba(0,0,0,0.2);

 .Span {
        font-size: 18px;
        width: 40px;
        display: flex;
        align-self: center;
        justify-content: center;
        cursor: pointer;
        color: #6b6b6b;
        &:nth-child(1){
            border-right: 2px solid rgba(0,0,0,0.2);
        }
        &:nth-child(2){
            width: 60px;
        }
        &:nth-child(3){
            border-left: 2px solid rgba(0,0,0,0.2);
        }
    }
}

.span-text {
    font-size: 18px;
    font-weight: 500;
    display: flex;
}

.social-icons {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    color: #6b6b6b;
    margin-top: 5px;
    margin-left: 10px;
}
.svg {
    margin: 0 5px ;
}